

<div class="feed-container">
    
    <div ng-show="loading" class="post img-rounded">
        <span class="fa fa-spinner"></span> Loading...
    </div>

    <!-- post assignment -->
    <div class="post-input img-rounded">
        <form ng-show="loggedInUserRole != 'Student'" name="assignmentForm">
            <input type="text" class="form-control" ng-model="assignment.title" placeholder="Assignment title" ng-required="true">
            
            <textarea ng-model="assignment.message" class="form-control" rows="3" placeholder="Assignment description" ng-required="true"></textarea>
            <input type="number" class="form-control" ng-model="assignment.mark" placeholder="max score" ng-required="true" min="1">
            Due date:  <input type="datetime-local" class="form-control" ng-model="assignment.dueDate" placeholder="due date (yyyy-MM-dd)" ng-required="true">
            <br>
            <div class="btn btn-default btn-file" ngf-select ng-model="assignment.file" name="file"
                ngf-max-size="'20MB'" ngf-min-height="100" 
                ngf-resize="{width: 100, height: 100}">Upload...</div>
                {{ assignment.file.name }}
            <button type="submit" class="btn btn-primary" ng-click="submitAssignment()">Post</button>
        </form>
        
    </div>

    <!-- assignments in feed -->
    <div ng-repeat="assignment in assignments | orderBy: 'postDate' : true" class="post img-rounded">
        <img class="small-avatar" ng-src="images/yeoman.png" />
        <span class="poster-name" ><a href>{{ assignment.poster.fName + " " + assignment.poster.lName }}</a></span>
        <a href="" style="color: red; float: right;" ng-click="deleteAssignment(assignment.id)" ng-show="loggedInUserId == assignment.poster.id">Delete</a>
        <br />
        <span class="post-timestamp" >{{ assignment.postDate | date: 'EEE MMM d, yyyy h:mm a' }}</span>
        <br />
        <br />
        <h5>{{ assignment.title }}</h5>
        <h5>Due: {{ assignment.dueDate | date: 'EEE MMM d, yyyy h:mm a' }}</h5>
        <p>{{ assignment.message }}</p>
        <a href="{{ origin + '/images/' + assignment.filename }}" target="_blank" class="btn btn-primary" ng-hide="{{ assignment.filename.length == 0 || assignment.filename == null }}">
            <span class="glyphicon glyphicon-file"></span>{{ assignment.file }}
        </a>
        <hr>
        <a href ng-click="onClickSubmitAssignment(assignment.id)" ng-show="showSubmitField(assignment.id)">Submit assignment...</a>
        <a href ng-click="onClickViewAssignment(assignment.id)" ng-show="!showSubmitField(assignment.id) && loggedInUserRole != 'Teacher'">View submission</a>
        <a href ng-click="setTab(5); showActivity(assignment);" ng-show="loggedInUserRole == 'Teacher'">View submissions</a>
    </div>
</div>