<div ng-controller="FeedCtrl as feed" class="feed-container">
    <div class="post-input img-rounded">
        
        <!-- tabs -->
        <ul class="nav nav-tabs" ng-hide="loggedInUserRole == 'Student'">
            <li ng-class="{ active:isSet(1) }">
              <a href ng-click="setTab(1)">Post</a>
            </li>
            <li ng-class="{ active:isSet(2) }">
              <a href ng-click="setTab(2)">Activity</a>
            </li>
          </ul>
        
        <!-- post note -->
        <form ng-show="isSet(1) && loggedInUserRole != 'Student'" name="form">
            <textarea ng-model="message" name="message" class="form-control" rows="3" placeholder="Type your note here"></textarea>
            <select class="form-control" ng-model="selectedSection" ng-options="s.courseNumber+' '+s.sectionName for s in accessibleSections track by s.id" name="sectionId" >
                <option value="">-- select section --</option>
            </select>
            <div class="btn btn-default btn-file" ngf-select ng-model="file" name="file"
                ngf-max-size="'20MB'" ngf-min-height="100" 
                ngf-resize="{width: 100, height: 100}">Upload...</div>
                {{ file.name }}
            <button type="submit" class="btn btn-primary" ng-click="submit()">submit</button>
        </form>
        
        <!-- post assignment -->
        <form ng-show="isSet(2) && loggedInUserRole != 'Student'">
            <input type="text" class="form-control" ng-model="todo" placeholder="Assignment title">
            
            <textarea class="form-control" rows="3" placeholder="Assignment description"></textarea>
            <label class="checkbox-inline"><input type="checkbox" value="">Disable after due date</label>
            <select class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
                <option value>Send to...</option>
            </select>
            <span class="btn btn-default btn-file">
                Browse <input type="file" onchange='$("#upload-file-feed-activity").html($(this).val());'>
            </span>
            <span id="upload-file-feed-activity"></span>
            <input type="submit" class="btn btn-primary" value="Post">
        </form>
        
    </div>
    
    <!-- posts in feed -->
    <div ng-repeat="post in posts | orderBy: 'postDate' : true" class="post img-rounded">
        <img class="small-avatar" ng-src="images/yeoman.png" />
        <span class="poster-name" ng-click="displayProfile(post.poster)"><a href>{{ post.poster.fName + " " + post.poster.lName }}</a></span>
        <span > to </span>
        <span class="post-to" ng-click="displaySelectedSection(post.section)"><a href>{{ post.section.courseNumber + " " + post.section.sectionName }}</a></span>
        <a href="" style="color: red; float: right;" ng-click="deletePost(post.id)" ng-show="loggedInUserId == post.poster.id">Delete</a>
        <br />
        <span class="post-timestamp" >{{ post.postDate | date: 'EEE MMM d, yyyy h:mm a' }}</span>
        <br />
        <br />
        <p>{{ post.message }}</p>
        <a href="{{ origin + '/images/' + post.filename }}" target="_blank" class="btn btn-primary" ng-hide="{{ post.filename.length == 0 || post.filename == null }}">
            <span class="glyphicon glyphicon-file"></span>{{ post.file }}
        </a>
        <hr>
        <div ng-repeat="comment in post.comments | orderBy: 'postDate' : true" class="post img-rounded">
            <b>{{ comment.commenter }}</b>{{ comment.postDate | date: 'EEE MMM d, yyyy h:mm a' }}
            <br>
            <p>{{ comment.message }}</p>
            <br>
        </div>
        <a href ng-click="showCommentField(post.id)" ng-hide="post.showCommentField"><span class="glyphicon glyphicon-comment"></span> Comment...</a>
        <form ng-submit="postComment(post.id)">
            <input type="text" class="form-control" ng-model="post.commentTextField" placeholder="Write a comment..." ng-show="post.showCommentField">
        </form>
    </div>
    
</div>