

<div ng-controller="ChatController">
  <div>
    
    <!-- contacts -->
    <div class="inbox">

      <button type="button" class="btn btn-default btn-sm" ng-click="showNewMessagePopup()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Message
      </button>
      
      <a href ng-repeat="thread in threadList | orderBy: 'postDate' : false" ng-click="selectThread(thread)">
        <div class="contact">
          <img class="small-avatar" ng-src="images/yeoman.png" />
          <b>{{ thread.participant1.id == loggedInUserId ? thread.participant2.fName + ' ' + thread.participant2.lName : thread.participant1.fName + ' ' + thread.participant1.lName }}</b>
          <br/>
          {{ thread.lastActivity | date: 'EEE MMM d, yyyy h:mm a' }}
        </div>
      </a>
      
    </div>
    
    <!-- message thread -->
    <div ng-show="selectedThread" class="messages">
      
      <table  class="table">
          <span ng-show="chatList.length == 0">There are no messages with this person.</span>
          <tr class="chat_message" ng-repeat="chat in chatList | orderBy: 'postDate' : false | limitTo: 15">
              <td class="col-md-12 td_class">
                <strong>{{ chat.sender.fName + ' ' + chat.sender.lName }}</strong>
                {{ chat.postDate | date: 'M/d/y h:mm a' }} <strong>:</strong>
                <br/>
                {{ chat.message }}
              </td>
          </tr>
      </table>
      
      
        <div class="col-lg-12">
          <form>
              <div>
                  <textarea class="form-control" rows="3" ng-model="chatMessage" placeholder="Type your message here"></textarea>
              </div>
              <button class="btn btn-default col-lg-2 col-md-2" ng-click="sendMsg()">Send</button>  
          </form>
	      </div>

    </div>
    
  </div>
</div>
